@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

p,
h1,
h2,
h3,
h4,
h5,
div,
span {
  font-family: "Montserrat", sans-serif !important;
}

.slide-icon {
  font-family: Poppins !important;
}

.scrollbar-thin {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #fff700;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #fff700;
  }
}