/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #030f27
}

body {

  width: 100%;
   min-height: 100vh;
  height: 100; 
  background: var(--bg);
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 900px;
  width: 100%;
  background: #d9d9d9;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px 5px 12px -2px rgba(0, 0, 0, 0.1),
    0px 18px 36px -6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
}

.container .title {
  padding: 25px;
  background: #f6f8fa;
}

.container .title p {
  font-size: 25px;
  font-weight: 500;
  color: #6d6883;
  position: relative;
}

 .container .title p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: linear-gradient(to right, #F37A65, #D64141);
} 

.user_details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
}

.user_details_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
}

.user_details .input_box {
  width: calc(100% / 2 - 20px);
  margin: 0 0 12px 0;
}


.input_box label {
  font-weight: 500;
  color: #6d6883;
  margin-bottom: 5px;
  display: block;
}

.input_box label::after,
.input_box label::after {
  content: " *";
  color: red;
}

.verify_otp_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.verify_otp_box .verify_input_box {
  width: 100%;
  margin: 0 0 12px 0;
}

.verify_input_box input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fa;
  font-family: 'Poppins', sans-serif;
  transition: all 120ms ease-out 0s;
}

.verify_input_box button {
  width: fit-content;
  padding: 0px 10px;
  height: 45px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fa;
  font-family: 'Poppins', sans-serif;
  transition: all 120ms ease-out 0s;
  color: #ffa90e;
  letter-spacing: 1px;
  border: 1px solid #ffa90e;
}

.input_box input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fa;
  font-family: 'Poppins', sans-serif;
  transition: all 120ms ease-out 0s;
}


.input_box input:focus,
.input_box input:valid {
  box-shadow: 0px 0px 0px 2px #AC8ECE;
}

form .gender {
  padding: 0px 25px;
}

.gender .gender_title {
  font-size: 20px;
  font-weight: 500;
}

.gender .category {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.gender .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.gender .category label .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 4px solid transparent;
  transition: all 0.3s ease;
}

#radio_1:checked~.category label .one,
#radio_2:checked~.category label .two,
#radio_3:checked~.category label .three {
  border-color: #d9d9d9;
  background: #D64141;
}

.gender input {
  display: none;
}

.reg_btn {
  padding: 25px;
  margin: 15px 0;
}


.reg_btn input {
  height: 45px;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  color: #ffa90e;
  letter-spacing: 1px;
  border: 1px solid #ffa90e;
}

.reg_btn input:hover {
  background: #222222;
  color: #c6c1da;
}

@media screen and (max-width: 584px) {

  .user_details {
    max-height: 340px;
    overflow-y: scroll;
  }

  .user_details::-webkit-scrollbar {
    width: 0;
  }

  .user_details .input_box {
    width: 100%;
  }

  .gender .category {
    width: 100%;
  }

}


@media screen and (max-width: 419px) {
  .gender .category {
    flex-direction: column;
  }
}



.verifyotp_container {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.verifyotp_container h1 {
  margin-bottom: 1rem;
  color: #ffffff;
}

.verifyotp_container .otp-input {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.verifyotp_container .otp-input input {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #2a2a2a;
  color: #ffffff;
}

.otp-input input::-webkit-outer-spin-button,
.otp-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp-input input[type=number] {
  -moz-appearance: textfield;
}

.verifyotp_container button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.verifyotp_container button:hover {
  background-color: #45a049;
}

.verifyotp_container button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.verifyotp_container #timer {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #ff9800;
}

 Dashboard css start 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
  --black: #0d0d0d;
  --dark: #181820;
  --text: #5c636a;
  --grey: #21212b;
  --text-active: #e3e3e3;
  -clodes-window: 5.5rem;
}



* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html.light {
  body {
    background: #e6ebf4;
  }

  .sidebar {
    background: #fefefe;
  }

  .logo,
  .footer,
  .footer a {
    color: #bdbcb8;
  }

  .logo:hover {
    color: var(--dark);
  }

  nav li a {
    color: #bdbcb8;

    &:hover {
      color: var(--dark)
    }
  }

  .footer {

    .more:hover,
    .icon:hover,
    a:hover {
      color: var(--dark);
    }
  }

  ul li.withDivider {
    border-top: 1px solid rgba(#000, 0.1);
  }

  .search input,
  .footer {
    background: #eef2f7
  }

  .search {
    color: #bdbcb8;

    &:focus-within {
      color: var(--dark);
    }
  }

  nav li.active a {
    background: #2984ff;
    color: #fefefe;
  }

  nav {
    color: #eef2f7;
  }

  .toggle {
    background: #eef2f7;
    color: #bdbcb8;

    &:hover {
      color: var(--dark);
    }
  }

}

body {
  background: #434a5a;
  transition: 1s background;
}

.sidebar {
  background: var(--dark);
  width: 20rem;
  height: 100vh;
  height: 100dvh;
  color: var(--text);
  transition: 0.3s width, 1s background;

  .search {
    color: rgba(var(--text-active), .25);

    input {
      background: var(--black);
      transition: 1s background;
    }

    &:focus-within {
      color: var(--text-active)
    }
  }

  nav {
    overflow-y: overlay;
    overflow-x: hidden;
    color: var(--grey);
    transition: 1s color;
  }

  ul {

    li.active a {
      color: var(--text-active);
      background: var(--grey);
    }

    li.withDivider {
      border-top: 1px solid rgba(#eee, 0.1)
    }

    .indicator {
      animation: blink 1.5s infinite;
    }

    a:hover {
      color: var(--text-active);
    }

    a span {
      transition: 0.3s opacity;
    }

    li a {
      color: var(--text);
    }
  }

  .footer {
    height: var(-clodes-window);
    background: var(--grey);
    transition: 1s background;

    a {
      color: var(--text-active);
      transition: .3s color;

      &:hover {
        color: var(--text);
      }
    }

    .more:hover,
    .icon:hover {
      color: var(--text-active);
    }
  }

  .toggle {
    background: var(--black);
    color: var(--text);

    &:hover {
      color: var(--text-active);
    }
  }

  &.closed {
    width: 5.5rem;

    .toggle {
      transform: rotate(180deg)
    }

    nav ul li a span {
      opacity: 0;
      width: 0;
    }

    .indicator {
      transform: translate(-15px, -8px)
    }

    .footer .more {
      opacity: 0;
    }

    .footer .briefcase {
      opacity: 0;
    }

    ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }



}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 16px;
  border-radius: 8px;
  background-clip: padding-box;
  border: 6px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}


@keyframes blink {
  0% {}

  50% {
    background: transparent
  }

  100% {}
}

.toggle-container {
  width: 70px;
  height: 30px;
  background-color: #0d1117;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
  transition: background .5s;
  overflow: hidden;

  .icon {
    svg {
      stroke: #fff;
      stroke-width: 1.5px;
      width: 19px;
    }
  }

  .toggle-dark-icon {
    margin-left: 12px;
    margin-top: 1px;

    svg {
      transition: transform .9s;
      transform: translateX(0px);
    }
  }

  .toggle-light-icon {
    margin-top: 2px;

    svg {
      transform-origin: center;
      transform: scale(.7) rotate(0deg);
      position: relative;
      right: 30px;
      transition: transform .9s, right .5s;
    }
  }

  .toggle-circle {
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    left: 5%;
    transition: left .5s;
  }
}

#toggle-check {
  display: none;

  &:checked~.toggle-label .toggle-container {
    background: #fd7e14;

    .toggle-circle {
      left: 62%;
    }

    .toggle-light-icon {
      svg {
        transform: scale(1) rotate(180deg);
        right: 0px;
      }
    }

    .toggle-dark-icon {
      svg {
        transform: translateX(30px);
      }
    }
  }
}

 Dashboard css end 
:root {
  --formbg: #f5ad0d
}

 from css login 
.form {
  max-width: 375px;
  margin: 100px auto 0px;
  height: 440px;
  flex-shrink: 0;
  padding: 24px;
  border-radius: 40px 40px 30px 30px;
  background: var(--formbg);
  box-shadow: 0px 2px 15px 2px rgba(255, 236, 170, 0.40);
}

.form_text {
  color: #fffffd;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form_heading {
  color: #fffffd;
  font-family: "Segoe UI";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px 0px;
}



.form-label {
  position: relative;
  display: block;
  clear: both;
   width:400px; 
  max-width: 500px;
  margin: 40px auto;
}

label {
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(50%);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 20%;
  left: 1em;
  background: none;
  color: white;
  font-weight: normal;
  cursor: text;
  pointer-events: none;
  font-family: sans-serif;
}

input {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: sans-serif;
  font-size: 1em;
  margin-right: 0;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  padding: 1em;
  width: 100%;
  outline: none;
}


input:focus~label,
input.hascontent~label {
  top: -37%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 .3em;
  background: #f5ad0d;
  color: white;
}

.submit_btn {
  padding: 10px 0px;
  font-size: 19px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #ffad0f;
  background: white;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  border-radius: 15px;
   background: #050522; 
  transition: all 0.5s ease;
}

.submit_btn:hover {
  background: #000;
  color: white;
}

.suggest {
  width: fit-content;
  color: white;
  margin: 10px auto;
}

@media only screen and (max-width :380px) {
  form {
    width: calc(100% - 40px);
    min-height: fit-content;
    padding: 15px !important;
    margin: 100px 20px 0px !important;
  }

  .suggest {
    font-size: 14px;
  }
}

 loader css start 
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn)
  }
}

 loader css end  */
 